body {
  background-color: #111;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.text-green {
  color: lightgreen;
}

.text-yellow {
  color: yellow;
}

.text-red {
  color: coral;
}

.text-white {
  color: white;
}

.project-card {
  background-color: #444;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
}

.blog-post {
  background-color: #444;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
}

.blog-post:hover {
  background-color: #555;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  border: none;
  z-index: 1000;
}

.popup iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}