body {
  background-color: #222;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#cmd-input {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
  width: 80%;
}